dag.overwrite = true
report.overwrite = true
timeline.overwrite = true
docker.fixOwnership = true
docker.enabled = true

plugins {
  id 'nf-schema@2.1.0'
}

profiles {
    local {
        process.executor = 'local'
        process.errorStrategy = "retry"
        process.maxRetries = 2
    }

    slurm {
       process.executor = 'slurm'
       process.clusterOptions = "--nodelist=XXX"
       process.errorStrategy = "retry"
       process.maxRetries = 2
    }

}

executor {
    $local {
    cpus = XXX
    memory = 'XXX GB'
    }
    $slurm {
    queueSize=500
    }
}

// PRIVATE API KEY TO THE ENTEROBASE 
params.enterobase_api_token = "XXX"
